@import './reset.scss';

$메인칼라 : #ff0000;
@mixin 함수() {
    background-color: #eeeeee;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    width: 100%;
}

.red{
    color: $메인칼라;
}
.my-alert{
    @include 함수();
}

.my-alert2{
    @extend .my-alert;
    background-color: #ffe591;
}
.disabled{
    display: none;
}

// div.container{

//         p{
//             margin-top: 10px;
//             color: green;
//         }
//         h4{
//             color: blue;
//         }
    
// }